<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="public/css/style.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div>
      <p><b>It is <sub>what</sub> <i>it is.</i></b></p>
      <h1>Weather App</h1>
      {{>search}}
    </div>
    {{>footer}}
    <script src="https://kit.fontawesome.com/ba1d98c51a.js" crossorigin="anonymous"></script>
  </body>
</html>

