<style>
  footer {
    position: absolute;
    right: 60px;
    bottom: 40px;
    font-size: small;
  }
  footer p span {
    text-decoration: underline;
  }
</style>
<footer>
  <p>Created by: <span>{{creator}}</span></p>
</footer>